body {
	background-image: url("../images/blur.jpg");
	background-attachment: fixed;
}

.container {
	margin-top: 50pt;
}

.room-select {
	z-index: 3;
	margin-right: -15px;
}

.room-select ul li * {
	display: inline;
}

.room-select ul {
	list-style: none;
	padding-top: 20pt;
	padding-bottom: 20pt;
	background-color: rgba(200, 228, 235, 1);
	border-top-left-radius: 6pt;
	border-bottom-left-radius: 6pt;
	box-shadow: -1px 1px 100px #1C2731;
}

.room-select ul li {
	padding-left: 16pt;
	padding-top: 10pt;
	border-top-left-radius: 6pt;
	border-bottom-left-radius: 6pt;
	padding-bottom: 10pt;
}

.room-selected {
	box-shadow: 0px 0px 10px #1C2731;
	background-color: #1C2731;
	color: rgba(255, 255, 255, 0.71);
}

.stats {
	height: 528px;
	background-color: rgba(255, 255, 255, 0.17);
	border-top-right-radius: 6pt;
	border-bottom-right-radius: 6pt;
	border-bottom-left-radius: 6pt;
	box-shadow: -1px 1px 100px #1C2731;
}

.hud {
	z-index: 10;
	background-color: rgba(255, 255, 255, 0.0);
	color: #1C2731;
	border-radius: 6pt;
	box-shadow: -1px 1px 100px black;
	text-align: center;
}

#hud-controls{
	border-top-right-radius: 6pt;
	border-top-left-radius: 6pt;
	width: 100%;
}

#hud-controls a span{
	padding-right: 6px;
	padding-left: 5px;
	/* width: 20%; */
}

#showhud {
	font-size: 55pt;
	text-shadow: 0px 0px 5px;
}

.switch-menu {
	height: 528px;
	background-color: #1C2731;
	border-bottom-left-radius: 6pt;
	z-index: 2;
}

.view-pane {
    padding: 0px;
}

#scatter {
}


.container {
  max-width: 970px !important;
}

.switch-menu ul {
	list-style: none;
	padding-top: 26px;
	/* padding-bottom: 10pt; */
	padding-right: 0px;
	padding-left: 0px;
	margin-right: -15px;
	color: skyblue;
	/* z-index: inherit; */
}

.swt-list {
	padding-bottom: 20px;
	padding-top: 14px;
	/* margin-bottom: 10px; */
	height: 60px;
	/* padding: 20px; */
	padding-right: 10px;
	padding-left: 10px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

#deviceList .active {
	background-color: rgb(42, 178, 255);
	/* box-shadow: 0px 0px 10px rgb(42, 178, 255); */
	color: rgb(248, 248, 248);
}

.switch {
	float: right;
}

.swt-name {
	float: left;
}

#switchDetails {
	height: 327px;
	background: rgb(42, 178, 255);
	/* box-shadow: 0px 0px 10px; */
	/* margin: 0px; */
	border-top-right-radius: 6px;
}

#view-pane-graph * {
	display: inline;
}

#slider {
	text-align: center;
	/* padding-top: 73px; */
	padding: 10px;
	position: relative;
	top: 46px;
	/* background: black; */
}

#hud-people {
	display: none;
}

/*------------------------------------------------------------------------Landing page*/

#landingFooter {
	background: white;
	position: absolute;
	bottom: 20px;
	left: 20px;
	border-style: solid;
	border-color: rgb(153, 153, 153);
	border-width: 0px;
	border-radius: 8px;
	/* border-bottom-width: 13px; */
	box-shadow: 0px 0px 10px;
}

#landingTitle {
	margin-top: 100px;
	color: rgb(255, 255, 255);
	font-size: 80px;
	text-align: center;
	text-shadow: 0px 0px 10px;
	border-style: solid;
	border-width: 5px;
	box-shadow: 0px 0px 10px;
	border-left-width: 0px;
	background: rgb(87, 87, 87);
	border-right-width: 0px;
	/* text-decoration: underline; */
}

#entryForm {
	text-align: center;
	/* align-content: center; */
}

#entryBtn {
	position: fixed;
	box-shadow: 0px 0px 10px;
	width: 300px;
	bottom: 20px;
	right: 20px;
	/* height: 100px; */
	padding: 34px;
	font-size: 30px;
}

/*--------------------------------------------------------Timer*/

#timer {
	position: relative;
	top: 100px;
	height: 176px;
	background: rgb(255, 255, 255);
	margin: 0px;
}

#currentTimer {
	text-align: center;
	padding: 32px;
	text-shadow: 0px 0px 8px;
	font-size: 62px;
}

#timerForm {
	padding: 30px;
	display: inline;
}

.timerField {
	margin-bottom: 10px;
}

/*---------------------------------------------Notification Button*/

#notificationBtn {
	position: absolute;
	top: 10px;
	right: 10px;
}